# Packaging
venv/

# Dev environment
.pre-commit-config.yaml
.vscode/
.history/
.idea/

# Python cache and compile targets
__pycache__/
**.pyc

# Data and Logs
data/
logs
*.log

# Secrets
credentials.py
